$primary-color: #495E57;
$secondary-color: #F4CE14;

.section {
    background-color: $primary-color;
    display: flex;
    justify-content: center;
}

.hero {
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    width: 850px;
}

.image {
    border-radius: 16px;
    height: 340px;
    width: 250px;
}

.heading1 {
    margin: 0;
    color: $secondary-color;
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.heading5 {
    margin: 0;
    color: #FFF;
    font-family: Markazi Text;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text {
    color: #FFF;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 400px;
}

.button {
    height: 50px;
    width: 190px;
    background-color: $secondary-color;
    color: $primary-color;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 0;
    border-radius: 16px;
}

@media only screen and (max-width: 480px) {
    .image {
        height: 200px;
        width: 200px;
    }

    .button {
        width: 150px;
    }
}