$primary-color: #495E57;
$secondary-color: #F4CE14;

.section {
    display: flex;
    justify-content: center;
}

.specials {
    width: 850px;
    padding: 10px;
}

.row {
    display: flex;
    justify-content: space-between;
    margin: 10px 20px;
}

.heading1 {
    color: $primary-color;
    font-family: Karla;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
}

.browse_button {
    height: 50px;
    width: 150px;
    background-color: $secondary-color;
    color: $primary-color;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 0;
    border-radius: 16px;
}

.specials_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

@media only screen and (max-width: 780px) {
    .specials_section {
        grid-template-columns: 1fr;
        place-items: center;
    }
}