$primary-color: #495E57;

.section {
    background-color: $primary-color;
    display: flex;
    justify-content: center;
}

.testimonials {
    width: 850px;

}

.heading {
    color: #FFF;
    font-family: Markazi Text;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
}

.testimonials_section {
    padding: 80px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
}

@media only screen and (max-width: 768px) {
    .testimonials_section {
        grid-template-columns: 1fr 1fr;
        place-items: center;
    }
}

@media only screen and (max-width: 480px) {
    .testimonials_section {
        grid-template-columns: 1fr;
    }
}